<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-critical-alert" version="0.0.1">

   <name>CriticalAlert</name>
   <description>Cordova CriticalAlert Plugin</description>

   <author>hiroki</author>
   <license>Apache 2.0</license>

   <engines>
     <engine name="cordova-ios" version=">=6.2.0" />
   </engines>

   <js-module src="www/critical-alert.js" name="criticalAlert">
       <clobbers target="criticalAlert" />
   </js-module>

   <!-- iOS用の設定 -->
   <platform name="ios">
      <config-file target="config.xml" parent="/*">
        <feature name="CVCriticalAlert">
          <param name="ios-package" value="CVCriticalAlert"/>
        </feature>
      </config-file>

     <source-file src="src/ios/CVCriticalAlert.swift" target-dir="src/ios" />
   </platform>
</plugin>